header {
    padding: 10px 20px; /* Внутренние отступы */
    display: flex; /* Располагаем элементы в один ряд */
    justify-content: space-between; /* Распределяем элементы по краям */
    align-items: center; /* Центрируем по вертикали */
    margin-left: -20px; /* Компенсация отступа страницы */
    }
    header img {
        max-width: 50px; /* Максимальная ширина логотипа */
        vertical-align: middle; /* Выравнивание по вертикали */
    }
    nav {
        display: flex; /* Располагаем ссылки в один ряд */
    }
    nav a {
        color: #FFFFFF; /* Белый цвет ссылок */
        text-decoration: none; /* Убираем подчеркивание ссылок */
        margin-left: 10px; /* Отступ между ссылками */
        margin-right: 10px; /* Отступ между ссылками */
        font-size: 18px; /* Размер текста ссылок */
    }

    nav a:hover {
        text-decoration: underline; /* Подчеркивание при наведении */
    }

body {
    background-color: #531ca5; /* цвет фона под картинку */
    /*transition: background-color 0.3s ease; !* чтобы плавно сменять фон, если нужно *!*/
    background: url("/img/wallpaper-1.webp");
    background-size: cover; /* Растягивать изображение на всю область фона */
    background-repeat: no-repeat; /* Не повторять изображение */
    background-attachment: fixed; /* Фон остаётся зафиксированным при прокрутке */

    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color: #ffffff;
    background-color: black;
    margin: 0;
}
a{
    color: #dfe4f2
}
a:hover{
    color: #cfdafc
}

.center-hor{
    /*display: grid;*/
    height: 100%;
    min-height: 95vh;
    place-items: center; /* Центрирование по горизонтали и вертикали */
    /*flex: 1; !* Заполняет доступное пространство *!*/
}

/*p, h1, h2, h3, h4, h5, h6{*/
/*    margin-left: 20px;*/
/*    margin-right: 20px;*/
/*}*/



@media (max-width: 768px) {
    header, footer {
    padding: 10px;
    flex-direction: column;
    align-items: center;
    }
    nav {
        flex-direction: column;
        align-items: center;
    }
    nav a {
        margin: 10px 0;
    }
    iframe {
         width: 100%;
         margin: 10px 0;
    }
    }

@media (max-width: 480px) {
    header img {
        max-width: 40px;
    }
    nav a {
        font-size: 16px;
    }
    iframe {
        height: 250px;
    }
}

.im-corn{
    img {
        border-radius: 7px;
    }
}


/*@keyframes bg-move {*/
/*    from {*/
/*        background-position: center center;*/
/*    }*/
/*    to {*/
/*        background-position: center top;*/
/*    }*/
/*}*/

.product-card img{
    width: 200px;
    height: auto;
    border-radius: 15px;
}
.product-description {
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s ease;
    padding: 0 10px;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
}

.product-description.active {
    max-height: 200px;
    padding: 10px;
    transform: scaleY(1);
    opacity: 1;
}

.product-card{
    width: 200px
}
