.footer {
    padding: 20px;
    text-align: center;

    background: rgba(70, 70, 70, 0.2);
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.footer p {
    margin: 7px 0;
}

.social-icons img {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
}