name: Deploy static site to GitHub Pages

on:
  push:
    branches:
      - main  # или master, если твоя ветка называется master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Pages
        uses: actions/configure-pages@v3

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v1
        with:
          folder: ./  # путь к папке со статическим сайтом
